body {
	background-color: azure;
	font-family: sans-serif;
}

thead {
	background-color: cadetblue;
}

h1, h2 {
	text-align: center;
	font-family: serif;
	font-weight: bold;
}

table {
	margin:40px auto 20px auto;
}

thead, tbody, td, tr {
	border: black 2px solid;
}

h1, h2 {
	text-align: center;
	font-family: serif;
	font-weight: bolder;
}

h2 {
	color: darkorange;
	text-shadow: darkred;
}

